ul {
  list-style-type: none;
}

h1.header {
  font-size: 260%;
}

.error {
  color: red;
}

body {
  padding: 15px;
  font-family: Verdana;
}

nav {
  float: right;
  margin-right: 10px;
}

h2 {
  font-size: 135%;
  font-weight: normal;
}

form {
  padding: 10px;
}

form input {
  margin-bottom: 10px;
}

a.no-linky {
  text-decoration: none;
  color: black;
}

input#submit{
  text-decoration: underline;
  background:none;
  border:none;
  font-size:1em;
  color:blue;
}

li#book-title {
  font-size: 120%;
}

li#book-info, li#borrower-info, li#edit-link {
  font-size: 85%;
}

