<h2>Register a new account now or <a href="/sessions/new">click here to log in</a></h2>

<form action="/users" method="post">
  <div>
    <label>Email Address:</label>
    <input type="email" name="user[email]" autofocus>
  </div>
  <div>
    <label>Username:</label>
    <input type="text" name="user[username]" required>
  </div>
  <div>
    <label>Password:</label>
    <input type="password" name="user[password]" required>
  </div>
  <div>
    <input type="submit" value="Create Account">
  </div>
</form>
