<h2>Edit book details:</h2>

<% if @errors %>
  <% @errors.each do |error| %>
    <p class="error"><%= error %></p>
  <% end %>
<% end %>

<form action="/borrowings/<%= @borrowing.id %>" method="post">
<input type="hidden" name="_method" value="PUT" >
  <div>
    <label>Book Title:</label>
    <input type="text" name="borrowing[book_title]" autofocus>
  </div>
  <div>
    <label>Author:</label>
    <input type="text" name="borrowing[book_author]">
  </div>
  <div>
    <label>ISBN:</label>
    <input type="text" name="borrowing[book_isbn]">
  </div>
  <div>
    <label>Name of borrower:</label>
    <input type="text" name="borrowing[borrowed_by]">
  </div>
  <div>
    <label>Date borrowed:</label>
    <input type="text" name="borrowing[borrowed_on]" value="<%= Date::today.strftime("%B %d, %Y") %>">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>

