<h2>What book are you lending out?</h2>

<% if @errors %>
  <% @errors.each do |error| %>
    <p class="error"><%= error %></p>
  <% end %>
<% end %>
<div class="box">
<form>
  <p>Search by book's title, author, or ISBN number:</p>
  <input type="text" name="q"> </input><input type="submit" value="Search">
</form>

<form action="/borrowings" method="post">
  - OR -
  <p>Manually enter book info:</p>
  <div>
    <label>Book Title:</label>
    <input type="text" name="borrowing[book_title]">
  </div>
  <div>
    <label>Author:</label>
    <input type="text" name="borrowing[book_author]">
  </div>
  <div>
    <label>ISBN:</label>
    <input type="text" name="borrowing[book_isbn]">
  </div>
  <div>
    <label>Name of borrower:</label>
    <input type="text" name="borrowing[borrowed_by]">
  </div>
  <div>
    <label>Date borrowed:</label>
    <input type="text" name="borrowing[borrowed_on]" value="<%= Date::today.strftime("%B %d, %Y") %>">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>
</div>

