<h2>To add a book to your borrowed books, fill out the form below or search by the book's title, author, or ISBN number.</h2>

<% if @errors %>
  <p></p>
<% end %>

<form action="/borrowings" method="post">
  <div>
    <label>Book Title:</label>
    <input type="text" name="borrowing[book_title]">
  </div>
  <div>
    <label>Author:</label>
    <input type="text" name="borrowing[book_author]">
  </div>
  <div>
    <label>ISBN:</label>
    <input type="text" name="borrowing[book_isbn]">
  </div>
  <div>
    <label>Name of borrower:</label>
    <input type="text" name="borrowing[borrowed_by]">
  </div>
  <div>
    <label>Date borrowed:</label>
    <input type="text" name="borrowing[borrowed_on]" value="<%= Date::today.strftime("%B %d, %Y") %>">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>

